{% assign scores = site.data.data.scores %}
{% if scores %}
  {% if site.data.data.sidebar.scores %}
  <div class="scores-container container-block">

    <h2 class="container-block-title">
      Test Scores
    </h2>

    {% for score in scores %}
    <div class="item">
        <div class="score-box">
            <div class="score-desc">
                {{ score.name }}
                {% if score.details %}
                <span class="meta"><br/>{{ score.details }}</span>
                {% endif %}
            </div>
            <div class="marks-container">{{ score.marks }}</div>
        </div>
      </br>
    </div>
    {% endfor %}

  </div><!--//scores-container-->

  {% else %}
  <section class="scores-section section">

    <h2 class="section-title">
      <span class="fa-stack fa-xs">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-wrench fa-stack-1x fa-inverse"></i>
      </span>
      {{ scores.title }}
    </h2>

    <div class="skillset">

      {% for score in scores.toolset %}
      <div class="item">

        <h3 class="level-title">{{ score.name }}</h3>

        <div class="level-bar">
          <div class="level-bar-inner" data-level="{{ score.level }}">
          </div>
        </div><!--//level-bar-->

      </div><!--//item-->
      {% endfor %}

    </div>

  </section><!--//scores-section-->
  {% endif %}
{% endif %}