{% assign talks = site.data.data.talks %}
{% if talks %}
<section class="section talks-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-paperclip fa-stack-1x fa-inverse"></i>
    </span>
    Select Talks / Posters
  </h2>

  {% for talk in talks %}
  <div class="item">
    <div class="summary">
      {{ talk.summary | markdownify }}
    </div>
    <div class="details">
      {{ talk.details | markdownify }}
    </div>
  </div>
  {% endfor %}
    
</section><!--//section-->
{% endif %}