{% assign workshops = site.data.data.workshops %}
{% if workshops %}
<section class="section workshops-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-wrench fa-stack-1x fa-inverse"></i> 
    </span>
    Select Workshops / Seminars
  </h2>

  {% for workshop in workshops %}
  <div class="item">

    <div class="meta">

      <div class="upper-row">
        <h3 class="name">{{ workshop.name }}</h3>
        <div class="time">{{ workshop.time }}</div>
      </div><!--//upper-row-->

      <div class="location">{{ workshop.location }}</div>

    </div><!--//meta-->

    {% if workshop.details %}
    <div class="details">
      {{ workshop.details | markdownify }}
    </div><!--//details-->
    {% endif %}

  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}

