/* ======= Base ======= */
body {
  font-family: "Roboto", sans-serif;
  color: $text-color-secondary;
  background: $smoky-white;
  font-size: 14px;
  padding: 30px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

a {
  color: darken($theme-color, 15%);
  &:hover {
    text-decoration: underline;
    color: darken($theme-color, 30%);
  }
  &:focus {
    text-decoration: none;
  }
}

p {
  line-height: 1.5;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  background: $theme-color;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  @include box-shadow(0px 2px 4px rgba(0, 0, 0, 0.1));
}

.sidebar-wrapper {
  grid-column: span 3;
  order: 2;
  position: relative;
  background: $theme-color;
  color: #fff;
  a {
    color: #fff;
  }
  .profile-container {
    padding: 30px;
    //background: darken($theme-color, 10%);
    background: rgba(0, 0, 0, 0.2);
    text-align: center;
    color: #fff;
  }
  .name {
    font-size: 32px;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 10px;
  }
  .tagline {
    color: rgba(256, 256, 256, 0.6);
    font-size: 16px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
  }
  .profile {
    margin-bottom: 15px;
  }

  .avatar {
    //used for profile image
    max-width: 100px;
    margin-bottom: 15px;
    border: 0px solid #fff;
    border-radius: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  }
  .contact-list {
    .fas,
    .fab,
    .far {
      margin-right: 5px;
      font-size: 18px;
      vertical-align: middle;
    }
    li {
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .container-block {
    padding: 30px;
  }
  .container-block-title {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 15px;
  }
  .degree {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 5px;
  }
  .level-title {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 5px;
  }
  .education-container {
    .item {
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    .meta {
      color: rgba(256, 256, 256, 0.6);
      font-weight: 500;
      margin-bottom: 0px;
      margin-top: 0;
    }
    .time {
      color: rgba(256, 256, 256, 0.6);
      font-weight: 500;
      margin-bottom: 0px;
    }
  }
  .skills-container {
    .item {
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0;
      }
      line-height: 0px;
    }
    .skill-box {
      display: flex;
      justify-content: space-between;
      margin: 0;
      outline: none;
      margin-bottom: 10px;
    }
    .skill-desc {
      line-height: 1.15;
    }
    .level-title {
      font-size: 15px;
      margin-top: 0;
      margin-bottom: 10px;
    }
    .meta {
      color: rgba(256, 256, 256, 0.6);
      margin-bottom: 0px;
      margin-top: 0;
    }
    // .level-bar {
    //   height: 12px;
    //   background: $smoky-white;
    // }
    // .level-bar-inner {
    //   height: 12px;
    //   background: lighten($theme-color, 15%);
    // }
    
    .level-container {
      position: relative;
      width: fit-content;
      height: fit-content;
      padding-left: 10px;
      align-self: center;

      .level-steps {
        position: relative;
        display: flex;
        justify-content: space-between;
        width: 40px;
        .level-step {
          width: 10px;
          height: 10px;
          background: $smoky-white;
          border: 1px solid darken($smoky-white, 15%);
          border-radius: 50%;
          transition: background 1s;
          z-index: 54;
        }
        .level-step.completed {
          border: 1px solid lighten($theme-color, 25%);
          background: lighten($theme-color, 25%);
          z-index: 56;
        }
      }
      .level-progress {
        position: absolute;
        // top: 6px;
        width: 40px;
        // height: 50%;
        top: 38%;
        border-bottom: 2px solid darken($smoky-white, 15%);
        z-index: 50;
        .level-percent {
          position: absolute;
          // top: 1px;
          width: 0;
          height: 100%;
          border-bottom: 2px solid lighten($theme-color, 25%);
          z-index: 52;
          transition: width 1s;
        }
      }
    }
    .skill-legend {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin-bottom: 5px;
      color: rgba(256, 256, 256, 0.6);
      span {
        text-align: center;
      }
    }
    .level-container-legend {
      position: relative;
      width: fit-content;
      height: fit-content;
      align-self: center;
      margin: auto;
      opacity: 0.6;

      .level-steps {
        position: relative;
        display: flex;
        justify-content: space-between;
        width: 180px;
        .level-step {
          width: 25px;
          height: 25px;
          background: $smoky-white;
          border: 2px solid darken($smoky-white, 15%);
          border-radius: 50%;
          transition: background 1s;
          z-index: 54;
        }
        .level-step.completed {
          border: 2px solid lighten($theme-color, 25%);
          background: lighten($theme-color, 25%);
          z-index: 56;
        }
      }
      .level-progress {
        position: absolute;
        width: 180px;
        // height: 50%;
        top: 50%;
        border-bottom: 2px solid darken($smoky-white, 15%);
        z-index: 50;
        .level-percent {
          position: absolute;
          // top: 1px;
          width: 0;
          height: 100%;
          border-bottom: 2px solid lighten($theme-color, 25%);
          z-index: 52;
          transition: width 1s;
        }
      }
    }
  }

  .scores-container {
    .item {
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0;
      }
      line-height: 0px;
    }
    .score-box {
      display: flex;
      justify-content: space-between;
      margin: 0;
      outline: none;
      margin-bottom: 10px;
    }
    .score-desc {
      line-height: 1.15;
    }
    .meta {
      color: rgba(256, 256, 256, 0.6);
      margin-bottom: 0px;
      margin-top: 0;
    }
    .marks-container {
      position: relative;
      width: fit-content;
      height: fit-content;
      padding-left: 10px;
      align-self: center;
      // font-weight: 500;
    }
  }

  .languages-container {
    .lang-desc {
      color: rgba(256, 256, 256, 0.6);
    }
  }

  .languages-list {
    margin-bottom: 0;
    li {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .interests-list {
    margin-bottom: 0;
    li {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .update-date {
    position: absolute;
    padding: 1em;
    padding-bottom: 2em;
    bottom: 0;
    text-align: center;
    width: 100%;
    color: lighten($theme-color,25%);
  }
}

.main-wrapper {
  grid-column: span 7;
  background: #fff;
  padding: 60px;
  .section-title {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    color: darken($theme-color, 15%);
    position: relative;
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: -5px;

    .fa-stack {
      margin-right: 3px;
      margin-bottom: 3px;
    }
  }
  .section {
    margin-bottom: 60px;
  }

  .experiences-section,
  .educations-section,
  .workshops-section {
    .item {
      margin-bottom: 30px;
      page-break-inside: avoid;
    }
  }
  .upper-row {
    position: relative;
    overflow: hidden;
    margin-bottom: 2px;
  }
  .job-title,
  .degree,
  .name {
    color: $text-color;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
  }
  .time {
    position: absolute;
    right: 0;
    top: 0;
    color: $text-grey;
  }
  .company,
  .university,
  .location {
    margin-bottom: 10px;
    color: $text-grey;
  }

  .project-title {
    font-size: 16px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 5px;
    color: darken($theme-color, 15%);
  }
  .projects-section {
    .intro {
      margin-bottom: 30px;
    }
    .item {
      margin-bottom: 15px;
    }
  }

  .publications-section {
    .intro {
      margin-bottom: 30px;
    }
    .item {
      margin-bottom: 15px;
    }
    .name {
      color: $text-color;
      font-size: 16px;
      margin-top: 0;
      margin-bottom: 1px;
      font-weight: 500;
    }
    .authors {
      margin-bottom: 1px;
      color: $text-grey;
      font-style: italic;
    }
    .preprint {
      position: absolute;
      right: 0;
      top: 0;
      color: $text-grey;
    }
  }
}

.skillset {
  .item {
    margin-bottom: 15px;
    overflow: hidden;
  }
  .level-title {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 12px;
  }
  .level-bar {
    height: 12px;
    background: $smoky-white;
  }
  .level-bar-inner {
    height: 12px;
    background: lighten($theme-color, 15%);
  }
}

.activity-section,
.talks-section {
  p {
    margin-bottom: 2px;
  }
  .item {
    margin-bottom: 30px;
  }
  .summary {
    font-size: 16px;
    // margin-bottom: 2px;
    p {
      line-height: 1.25;
    }
  }
  .details {
    color: $text-grey;
  }
}

.footer {
  padding-top: 30px;
  .copyright {
    line-height: 1.6;
    color: $text-color-secondary;
    font-size: 13px;
  }

  .fa-heart {
    color: $heart;
  }
}
